<?xml version='1.0' encoding='utf-8'?>
<widget
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  id="invalid.javascript_runtime.cordova_e2e"
  version="0.1.0"
>
  <name>JavaScriptRuntime Cordova E2E</name>

  <content src="index.html" />

  <allow-intent href="file://*/*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <platform name="android">
    <resource-file src="native/native.js" target="assets/native/native.js"/>
  </platform>
</widget>
